<ion-header>
  <ion-toolbar>
    <ion-title>
      Translator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input class="ion-padding" placeholder="Text for translation..."></ion-input>

  <ion-button class="ion-padding" expand="full">Translate</ion-button>

  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Translation result:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Vstup <ion-icon name="arrow-forward"></ion-icon> Výstup
    </ion-card-content>
  </ion-card>
</ion-content>
